html {
    filter: brightness(0.2);
}

body {
    background-color: gray;
    display: grid;
    grid-template-areas:
        "top"
        "content"
        "bottom";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    position: relative;
}

#nav-bar-container {
    grid-area: top;
    background-color: slateblue;
    min-height: 26vh;
    /* border-top-left-radius: 2rem; */
    /* border-top-right-radius: 2rem; */
}

#nav-bar-wrapper {
    background-color: cornflowerblue;
    width: 100%;
    min-height: 28vh;
    position: relative;
    /* border-top-left-radius: 2rem; */
    /* border-top-right-radius: 2rem; */
}

#nav-bar {
    background-color: darkslateblue;
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
}

#footer-bar {
    grid-area: bottom;
    background-color: rebeccapurple;
    min-height: 30vh;
    /* position: relative; */
    /* margin-bottom: -3rem; */
    /* border-top-left-radius: 2rem; */
    /* border-top-right-radius: 2rem; */
}

#page-content {
    grid-area: content;
    background-color: paleturquoise;
    min-height: 225vh;
    max-width: 100%;
    /* border-bottom-left-radius: 2rem; */
    /* border-bottom-right-radius: 2rem; */
    /* margin-bottom: 4rem; */
    padding: 4vh 4vw;

}

#page-content > div {
    min-height: 12rem;
    border-radius: 1.25rem;
}

.landing-layout {
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "event event mayor"
        "event event mayor"
        "join  join  mayor"
        "news news news"
        "stats blurb blurb"
        "stats group group"
        "stats group group";
    grid-template-rows: auto auto auto auto auto;
}

.home-layout {
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "news     news     spotlight"
        "event    event    spotlight"
        "posts    posts    activity"
        "threads  threads  activity";
    grid-template-columns: 2fr 2fr 1.25fr;
    grid-auto-rows: minmax(12rem, auto);
}

.forum-categories-layout {
    display: grid;
    gap: 2rem;
    grid-template-areas: 
    "cats cats cats cats"
    "yourStats hot hot yourGuild"
    "yourStats hot hot yourGuild"
    "yourStats elsia elsia yourGuild"
    "allStats elsia elsia allGuilds"
    "allStats social social allGuilds"
    "allStats social social allGuilds"
    "forumSiteStats misc misc progress"
    "forumSiteStats misc misc progress"
    ;
}

.forums-layout {
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "categoryTitle   categoryTitle   categoryTitle"
        "categoryAbout   categoryAbout   categoryRules"
        "subCategories   subCategories   subCategories"
        "categoryForums  categoryForums  categoryPostStats"
        "categoryForums  categoryForums  categoryPostStats"
        "categoryForums  categoryForums  categoryUserStats"
        "categoryForums  categoryForums  categoryUserStats"
        ;
    grid-template-columns: 2fr 2fr 1.25fr;
    grid-auto-rows: minmax(12rem, auto);
}

.profile-layout {
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "profileTitle     profileTitle     profileTitle     profileTitle"
        "profileAvatar     profileAbout     profileAbout     profileVisitors"
        "profileAvatar     profileAbout     profileAbout     profilePet"
        "profileAvatar     profileSignature     profileSignature     profilePet"
        "profileAvatar     profileBesties     profileBesties     profilePet"
        "profileContact     profileComments     profileComments     profileAchievements"
        "profileForumStats     profileComments     profileComments     profileAchievements"
        "profileEquipList     profileComments     profileComments     profileWishList"
        "profileFriends          profileComments   profileComments     profileWishList"
        "profileFriends        profileComments     profileComments     profileWishList";
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: minmax(12rem, auto);
    
}

/* landing components */
#news-carousel {
    grid-area: news;
    background-color: mediumvioletred;
}

#event-carousel {
    grid-area: event;
    background-color: pink;
}

#join-cta {
    grid-area: join;
    background-color: palevioletred;
}

#site-synopsis {
    grid-area: blurb;
    background-color: plum;
}

#mayor-art {
    grid-area: mayor;
    background-color: rosybrown;
}

#group-art {
    grid-area: group;
    background-color: lightcoral;
}

#site-stats {
    grid-area: stats;
    background-color: coral;
}

/* forum categories components */
#news-carousel {
    background-color: mediumvioletred;
}

#event-carousel {
    background-color: pink;
}

#profile-spotlight {
    grid-area: spotlight;
    background-color: plum;
}

#pet-spotlight {
    grid-area: spotlight;
    background-color: rosybrown;
}

#latest-posts {
    grid-area: posts;
    background-color: lightcoral;
}

#latest-threads {
    grid-area: threads;
    background-color: coral;
}

#latest-activity {
    grid-area: activity;
    background-color: slateblue;
}

/* forum cats components */
#your-forum-stats {
    grid-area: yourStats;
    background-color: red;
}

#all-forum-stats {
    grid-area: allStats;
    background-color: orangered;
}

#your-guild-stats {
    grid-area: yourGuild;
    background-color: gold;
}

#all-guild-stats {
    grid-area: allGuilds;
    background-color: yellow;
}

#category-widgets {
    grid-area: cats;
    background-color: yellowgreen;
}

#whats-hot {
    grid-area: hot;
    background-color: lime;
}

#elsia-central {
    grid-area: elsia;
    background-color: limegreen;
}

#social-central {
    grid-area: social;
    background-color: green;
}

#category-misc {
    grid-area: misc;
    background-color: darkgreen;
}

#forum-site-stats {
    grid-area: forumSiteStats;
    background-color: seagreen;
}

#your-progress {
    grid-area: progress;
    background-color: olivedrab;
}

/* Category components */
#news-carousel {
    background-color: mediumvioletred;
}

#event-carousel {
    background-color: pink;
}

#profile-spotlight {
    grid-area: spotlight;
    background-color: plum;
}

#pet-spotlight {
    grid-area: spotlight;
    background-color: rosybrown;
}

#latest-posts {
    grid-area: posts;
    background-color: lightcoral;
}

#latest-threads {
    grid-area: threads;
    background-color: coral;
}

#latest-activity {
    grid-area: activity;
    background-color: slateblue;
}

/* forum cats components */
#category-title {
    grid-area: categoryTitle;
    background-color: red;
}

#category-about {
    grid-area: categoryAbout;
    background-color: orangered;
}

#category-rules {
    grid-area: categoryRules;
    background-color: gold;
}

#subcategory-widgets {
    grid-area: subCategories;
    background-color: yellow;
}

#category-forums {
    grid-area: categoryForums;
    background-color: yellowgreen;
}

#category-post-stats {
    grid-area: categoryPostStats;
    background-color: lime;
}

#category-profile-stats {
    grid-area: categoryUserStats;
    background-color: limegreen;
}

/* Profile components */
#profile-title {
    grid-area: profileTitle;
    background-color: mediumvioletred;
}

#profile-visitors {
    grid-area: profileVisitors;
    background-color: pink;
}

#profile-avatar {
    grid-area: profileAvatar;
    background-color: palevioletred;
}

#profile-achievements {
    grid-area: profileAchievements;
    background-color: plum;
}

#profile-contact {
    grid-area: profileContact;
    background-color: rosybrown;
}

#profile-about {
    grid-area: profileAbout;
    background-color: lightcoral;
}

#profile-signature {
    grid-area: profileSignature;
    background-color: coral;
}

#profile-pet {
    grid-area: profilePet;
    background-color: orangered;
}

#profile-forum-stats {
    grid-area: profileForumStats;
    background-color: maroon;
}

#profile-equipped-list {
    grid-area: profileEquipList;
    background-color: darkred;
}

#profile-wish-list {
    grid-area: profileWishList;
    background-color: red;
}

#profile-comments {
    grid-area: profileComments;
    background-color: rebeccapurple;
}

#profile-besties {
    grid-area: profileBesties;
    background-color: darkmagenta;
}

#profile-friends {
    grid-area: profileFriends;
    background-color: darkorchid;
}
