body {
    background-color: gray;
    display: grid;
    grid-template-areas:
        "top"
        "content"
        "bottom";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    padding: 3rem 6rem;
    position: relative;
}

#nav-bar-container {
    grid-area: top;
    background-color: slateblue;
    min-height: 26vh;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

#nav-bar-wrapper {
    background-color: cornflowerblue;
    width: 100%;
    min-height: 23vh;
    position: relative;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

#nav-bar {
    background-color: darkslateblue;
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
}

#footer-bar {
    grid-area: bottom;
    background-color: rebeccapurple;
    min-height: 30vh;
    position: relative;
    margin-bottom: -3rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

#page-content {
    grid-area: content;
    background-color: paleturquoise;
    min-height: 200vh;
    max-width: 100%;
    padding: 4rem 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-bottom: 4rem;
}

#page-content > div {
    min-height: 12rem;
    border-radius: 1.25rem;
}

.landing-layout {
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "event event mayor"
        "event event mayor"
        "join  join  mayor"
        "news news news"
        "stats blurb blurb"
        "stats group group"
        "stats group group";
    grid-template-rows: auto auto auto auto auto;
}

.home-layout {
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "news     news     spotlight"
        "event    event    spotlight"
        "posts    posts    activity"
        "threads  threads  activity";
    grid-template-columns: 2fr 2fr 1.25fr;
    grid-auto-rows: minmax(12rem, auto);
}

/* landing components */
#news-carousel {
    grid-area: news;
    background-color: mediumvioletred;
}

#event-carousel {
    grid-area: event;
    background-color: pink;
}

#join-cta {
    grid-area: join;
    background-color: palevioletred;
}

#site-synopsis {
    grid-area: blurb;
    background-color: plum;
}

#mayor-art {
    grid-area: mayor;
    background-color: rosybrown;
}

#group-art {
    grid-area: group;
    background-color: lightcoral;
}

#site-stats {
    grid-area: stats;
    background-color: coral;
}

/* home components */
#news-carousel {
    background-color: mediumvioletred;
}

#event-carousel {
    background-color: pink;
}

#user-spotlight {
    grid-area: spotlight;
    background-color: plum;
}

#pet-spotlight {
    grid-area: spotlight;
    background-color: rosybrown;
}

#latest-posts {
    grid-area: posts;
    background-color: lightcoral;
}

#latest-threads {
    grid-area: threads;
    background-color: coral;
}

#latest-activity {
    grid-area: activity;
    background-color: slateblue;
}
